@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* hrader styles */

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 0;
  margin-bottom: 85px;
}

.navbar,
.hero {
  max-width: 1440px;
  margin: 0 auto;
}

/* nav styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 100px;
}

.navbar h3 {
  color: #131313;
  text-align: center;
  font-size: 2.8125rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem; /* 144.444% */
}

/* hero styles */

.hero-content {
  margin: 0 auto;
  text-align: center;
  max-width: 862px;
  margin-bottom: 50px;
}

.hero-title {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.hero-description {
  color: var(--Dark-03, #727272);
  text-align: center;
  font-size: 1rem;
  line-height: 1.625rem; /* 162.5% */
  margin-bottom: 30px;
}

.primary-btn {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: none;
}

.hero-img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* main styles */

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* features section styles */

#teams {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.features-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.features-images img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.our-features {
  margin: 0 auto;
  max-width: 537px;
}

.features-title-gray {
  color: var(--Dark-03, #727272);
  font-size: 2.8125rem;
  font-weight: 500;
}
.features-title-black {
  color: var(--Dark-01, #131313);
  font-size: 2.8125rem;
  font-weight: 700;
}
.features-title-orange {
  color: #ff900e;
  font-size: 2.8125rem;
  font-weight: 700;
}

.features-description {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  line-height: 1.625rem; /* 162.5% */
  margin-top: 24px;
  margin-bottom: 30px;
}

/* features you will enjoy styles */

#features-you-will-enjoy {
  margin-bottom: 130px;
  display: flex;
  justify-content: space-between;
}

.features-content {
  max-width: 586px;
}

.features-content-text {
  margin-bottom: 30px;
}

.features-content-heading {
  color: var(--Dark-01, #131313);
  font-size: 2.8125rem;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  margin-bottom: 24px;
}

.features-content-description {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  line-height: 1.625rem; /* 162.5% */
}

.features-list-card {
  height: 171px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  padding: 30px 42px 30px 30px;
}

.feature-title {
  color: var(--Dark-01, #131313);
  font-size: 1.25rem;
  font-weight: 600;
}
.feature-description {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  line-height: 26px; /* 162.5% */
}

.feature-image-architect {
  display: block;
  width: 100%;
  height: auto;
}

.experience-btn {
  border-radius: 8px;
  background: #ff900e;
  border: none;
  padding: 45px 42px;
  margin-left: -100px;
  margin-top: -110px;
}

.year-10 {
  color: #fff;
  text-align: center;
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 4.375rem; /* 107.692% */
}

.experience {
  color: #fff;
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 2.5rem;
}

/* fact styles */

#some-facts {
  margin-bottom: 180px;
}

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 100px;
}

.fact-card {
  width: 242px;
  height: 242px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.some-facts {
  color: var(--Dark-01, #131313);
  font-size: 2.8125rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.fact-description {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  line-height: 1.625rem; /* 162.5% */
  max-width: 542px;
}

.fact-icon {
  width: 46px;
}

.fact-number {
  color: var(--Dark-02, #424242);
  font-size: 2.8125rem;
  font-weight: 600;
}

.fact-name {
  color: var(--Dark-03, #727272);
  font-size: 1.25rem;
  font-weight: 600;
}

/* our-sponsors styles */

#our-sponsors {
  margin-bottom: 130px;
}

.sponsors-header {
  max-width: 542px;
  margin: 50px auto;
}

.sponsors-heading {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-size: 2.8125rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.sponsors-description {
  color: var(--Dark-03, #727272);
  text-align: center;
  font-size: 1rem;
  line-height: 1.625rem; /* 162.5% */
}

.sponsors-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.sponsor-logo {
  filter: grayscale(100%);
}

/* footer styles */

footer {
  max-width: 1440px;
  border-radius: 8px;
  background: #fff4e7;
  padding: 40px 0;
  margin: 0 auto;
}

.footer-text {
  color: var(--Dark-02, #424242);
  text-align: center;
  font-size: 1.25rem;
}

/* Responsive styles */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  #teams {
    flex-direction: column;
  }

  .navbar {
    margin-bottom: 50px;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .our-features {
    margin-top: 50px;
    max-width: 90%;
  }

  #some-facts {
    margin-bottom: 70px;
  }

  .fact-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-top: 30px;
  }

  .facts-header {
    margin-left: 20px;
  }

  #our-sponsors {
    margin-bottom: 50px;
  }

  .sponsor-logo {
    width: 70px;
  }

  #features-you-will-enjoy {
    flex-direction: column;
  }

  .feature-image-architect {
    width: 80%;
    margin: auto;
    height: auto;
  }

  .experience-btn {
    padding: 20px 20px;
    margin-left: 12px;
  }

  .year-10 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem; /* 107.692% */
  }

  .experience {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  #teams {
    flex-direction: column;
  }

  .our-features {
    margin-top: 50px;
    max-width: 708px;
  }

  .fact-container {
    grid-template-columns: repeat(2, 242px);
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }

  .facts-header {
    max-width: 708px;
    margin: 0 auto;
  }

  .sponsors-logos {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
  }

  .features-content {
    margin: 0 auto;
  }

  #features-you-will-enjoy {
    flex-direction: column;
  }

  .feature-image-architect {
    width: 80%;
    margin: auto;
    height: auto;
  }

  .experience-btn {
    padding: 30px 30px;
    margin-bottom: -30px;
    margin-left: 12px;
  }

  .year-10 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem; /* 107.692% */
  }

  .experience {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}
